### EDA1 - Exploratory Data Analysis 1
Goals:
* load data into dataframe
* use matplotlib to show line charts over various date ranges

In [3]:
from pathlib import Path
import pandas as pd

In [4]:
weight_csv_file = Path.cwd() / '..' / 'data' / 'weight.csv'
df = pd.read_csv(weight_csv_file)
df.head()

,Date,Weight (lb),Fat mass (lb),Bone mass (lb),Muscle mass (lb),Hydration (lb),Comments
0,2025-03-30 12:09:03,173.5,39.9,6.7,126.9,90.5,NaN
1,2025-03-30 11:59:41,174.6,40.7,6.7,127.1,90.8,NaN
2,2025-03-30 06:04:53,175.2,40.6,6.7,127.9,91.4,NaN
3,2025-03-29 14:15:59,174.7,37.1,6.9,130.7,93.7,NaN
4,2025-03-29 09:40:10,174.5,40.3,6.7,127.4,91.0,NaN